<!DOCTYPE html>
<html>
<head>
  <!-- By BitBruce https://www.github.com/BitBruce -->
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1>Hello World</h1>

  <% include ../partials/footer.ejs %>
</body>
</html>
